.body{
    background-color:black ;
} 
.rubrik{
    background-color: rgb(222, 122, 228);
    border-radius: 20px;
    max-width: 800px;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    font-size: 25px;
    padding: 15px;
    border-style: solid;
}
.stycke2{
    background-color: rgb(222, 122, 228);
    border-radius: 20px;
    max-width: 700px;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    font-size: 18px;
    padding: 15px;
    border-style: solid;
    align-items: center;
    
}

.stycke4{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-radius: 20px;
}
.stycke4 p{
    font-size: 15px;
    text-align: left;
}

.stycke5{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-radius: 20px;
}

.stycke3{
    background-color: rgb(222, 122, 228);
    border-radius: 20px;
    max-width: 700px;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    font-size: 18px;
    padding: 15px;
    border-style: solid;
}
@media (max-width: 480px) {
    .Gruppering {
        flex-direction: column;
    }

    .stycke {
        max-width: 250px;
    }
    .Höger {
        max-width: 267px;
    }
    .Mitten {
        max-width: 267px;
    }
    .Vänster {
        max-width: 267px;
        margin-left: 0px;
    }
}
.body2, .body3{
    background-color: rgb(148, 122, 228);
}
.stycke2,.body3 a{
    text-decoration: none;
    
}
.stycke2, .body3 ul{
    list-style: none;
}

li {
    text-decoration: none;
}
ul {
    text-align: center;
}
.google{
    background-color: rgb(229, 82, 166);
    border-radius: 20px;
    max-width: 700px;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    font-size: 25px;
    padding: 15px;
    border-style: solid;
}

.bluetooth{
    background-color: rgb(229, 82, 166);
    border-radius: 20px;
    max-width: 700px;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    font-size: 25px;
    padding: 15px;
    border-style: solid;
}
.stycke4{
    background-color: rgb(229, 82, 166);
    border-radius: 20px;
    max-width: 700px;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    font-size: 25px;
    padding: 15px;
    border-style: solid;
}
